.pagination {
    min-height: 330px;
    min-width: 55%;
    width: 100%;
    margin: 0.5rem 0;
    background-color: white;
    border-radius: 15px;
}

.heading {
    text-align: left;
    color: white;
    font-family: Ubuntu;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
}

.container {
    padding: 1rem 0;
    min-height: 350px;
    min-width: 55%;
    align-self: start;;
    /* background-color: white; */
    border-radius: 15px;
}




.xpcontainer {
    text-align: center;
    padding: 5px;
    margin: 5px;
}.xpbtn{
    background: #00a278 !important;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 0px none ;
}
.PgNo {
    height: 20px;
    background: #00a278 !important;
    color: white;
    margin: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}