input,
select {
    width: 223px;
    height: 51px;
    top: 347px;
    left: 401px;
    /* gap: 30px;
     */
    margin: 2%;
    color: #919191;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;

    padding: 6px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FBFBFB;
}

.btns {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 20%;
}