input,
select {
    width: 223px;
    height: 51px;
    top: 347px;
    left: 401px;
    /* gap: 30px;
     */
    margin: 2%;
    color: #919191;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;

    padding: 6px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FBFBFB;
}
form{
    display: flex;
    flex-wrap: wrap;
}
.btns {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: start;
    /* width: 223px; */
    width: 100%;
    /* padding: 10%; */
    height: 20%;
    margin: 3% 0;
}
.ybtn{
    width: 145px;
height: 51px;
margin-left: 3%;
margin: 0 5% 0 3%;
}
.gbtn{
    width: 112px;
height: 51px;
}