.section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1.5rem;
    height: 41vh;
    margin: auto;
    background-color: #626262;
}