.Graph{
    min-width: 250px;
    min-height: 350px;
    /* width: 100%; */
    background-color: white;
    margin: 0.5rem 0;
    margin-left: 6%;
    border-radius: 15px;
    /* padding: 10%; */
}
.heading {
    text-align: left;
    margin-left: 6%;

    color: white;
    font-family: Ubuntu;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
}

.container {
    padding: 1rem 0;
    /* margin-left: 2%; */
    min-height: 350px;
    min-width: 44%;
    align-self: start;
    /* background-color: white; */
    border-radius: 15px;
    
}